  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero p {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    text-shadow: 2px 2px 0px hsl(0, 0%, 11%);
  }
  
  .sign-in-btn {
    background-color: #f5610d;
    color: #fff;
    font-size: 1.5rem;
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    border: none;
    transition: transform 0.3s ease;
    height: 50px;
    margin-top: 40px;
  }
  
  .sign-in-btn:hover {
    background-color: #f5610d;
    transform: scale(1.1);
  }
  