<<<<<<< HEAD
/* Footer.css */
.footer-wrapper{
  background-color: #404040;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
=======
>>>>>>> 4368a9234e38425de20a39bf26d7036e6f1f974a
.footer-socials {
  display: flex;
  justify-content: center;
}

.footer-socials a {
  margin: 0 10px;
  color: azure;
}


