/* Footer.css */
.footer-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer {
  width: 100%;
}

.footer-socials {
  display: flex; 
  justify-content: center; 
}

.footer-socials a {
  margin: 0 10px;
  color: azure;
}
