.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404040;
    min-height: 100px;
  }
  
  .logo {
    font-size: 2.2rem;
    font-weight: bold;
    color: #f5610d;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .search-bar {
    flex: 0.5;
    background-color: #eee;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    border: none;
    border: none;
    padding: 5px;
    width: 100%;
  }
  
  .navbar-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links a {
    color: #e2e2e2;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 20px 12px;
    border-radius: 2px;
  }
  
  .navbar-links a:hover {
    background-color: #f5610d;
  }

  .about{
    height: 79vh;
    /* border: 2px solid red; */
  }