.sign-up-form {
    max-width: 600px;
  }
  
  .sign-button {
    background-color: #f5610d;
    border: none;
    transition: transform 0.3s ease;
  }
  
  .sign-button:hover {
    background-color: #f5610d;
    transform: scale(1.1);
  }