#main{
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 80%;
  margin-left: 10%;
  background-color: white;
}
#image-block{
  width: 400px;
  height: 400px;
  border-radius: 3px;
  position: relative;
  left: 200px;
}

#image{
 width: 100%;
 border-radius: 3px;
}

#text-block{
  
  position: relative;
  margin:5px;
  width: 250px;
  left: 200px;
  padding: 5px;
}

#more-animal h2{
 color: orange;
  
}

#buttons-block{
  
  margin-left: 400px;
  display: inline-block;
  
  width: 100%;
}

#header{
  color: orange;
  position: relative;
  left: 525px;
  margin: 0px;
  display: inline-block;
 
}

#addtolist{
  padding: 8px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 3px;
  position: relative;
  right: 145px;
  margin: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#goback{
  padding: 8px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 3px;
  position: relative;
  left: 145px;
  margin: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#body{
  background-image: url(https://th.bing.com/th/id/R.def6ab434304df7df40fe5fc0e5d2ab4?rik=3CLDKqANwpsPTA&pid=ImgRaw&r=0);
  height: 900px;
  margin: 0px;
}


#header h1{
  margin: 0px;
  display: inline-block;
}