#Upload {
  padding: 3px;
  display:block;
  background-color: orange;
  color:white;
  border: none;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 10px;
  margin-left: 335px;
  cursor: pointer;
  width: 100px;
  height: 35px;
  }

  #description{
    padding: 15px; 
    margin: 30px;
    display: block;
    width: 680px;
  }

  #input-section{
    display: flex;
    align-items: center;
  }

  #select-category{
    display: flex;
    align-items: center;
    margin-left: 70px;
  }
  
  .maincard {
    margin: auto;
    
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    
  }

  #Category{
    padding: 5px;
    margin-left: 40px;
    width: 320px;
  }
  
  #Genetic-Background{
    padding: 5px;
    margin-left: 47px;
    width: 315px;
  }
  
  ul.no-bullets{
    list-style-type: none;
  }

  #boxes{
    padding: 6px;
    margin: 3px;
    width: 300px;
   
  }
  
  #header{
    margin-left: 135px;
    
  }
  
  h1{
    color: rgb(232, 151, 0);
  }

  #main{
    display: flex;
  }